<div class="input-search">
    <div class="form-container">
        <form [formGroup]="form">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Search Pokemon</mat-label>
                <input 
                    matInput type="text" 
                    formControlName="pokemon"
                    autocomplete="off"
                    [matAutocomplete]="auto"
                    />
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let pokemon of filteredPokemons " [value]="pokemon.id">
                            <div (click)="onClick(pokemon)">
                                {{pokemon.name}}
                            </div>
                        </mat-option>
                      </mat-autocomplete>
              </mat-form-field>
        </form>
    </div>
</div>