<div class="input-search">
    <div class="form-container">
        <form [formGroup]="form" class="form">
            <div class="input-container">
                <input 
                    class="input"
                    type="text" 
                    placeholder="Search pokemon"
                    autocomplete="off"
                    formControlName="pokemon"
                    [matAutocomplete]="auto"
                >
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option 
                        *ngFor="let pokemon of filteredPokemons " 
                        [value]="pokemon.id"
                        (click)="onClick(pokemon)">
                        {{pokemon.name | titlecase}}
                    </mat-option>
                  </mat-autocomplete>
                <mat-icon>search</mat-icon>
              </div>
        </form>
    </div>
</div>