.input-search{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.form{
    width: 100%;
}

.form-container{
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form-table{
    position: absolute;
    top: 1px;
    right: px;
    z-index: 1;
    left: 200px;
}

.table {
    z-index: 1;
    background-color: white;
    border: solid black 1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

tr{
    display: flex;
    flex-direction: column;
    padding: 3px;
}

hr{
    width: 100%;
    color: gray;
}

a{
    text-decoration: none;
    color: black;
    margin: 3px;
}

a:hover{
    color: red;
}

.input-container{
    display: flex;
    flex-direction: row;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;

    & .input{
        border: 0;
        background-color: transparent;
        outline: none;
        flex: 1;
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}