.statstic-item{
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}

.stat{
    flex: 1 1 25%;
}

.value{
    flex: 1 1 5%;
    font-weight: 700;
}

.bar-container{
    flex: 1 1 65%;
    display: flex;
    align-items: center;
}
p{
    margin: 0;
}

.cgray{
    color: gray;
}