.main{
    height: 100%;
    width: 100vw;
}
 .content{
   width: 900px; 
   display: flex;
   flex-direction: row;
   align-items: center;  
 }

.card{
    width: 100%;
    border-radius: 0 0 20px 0;
    margin-top: 100px;
}

.card-header{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}

.card-img-container{
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 3rem;
    z-index: 1;
}

.card-title-group{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 15px;
    color: whitesmoke; 
}

.card-img-info{
    width: 350px;
    max-height: 300px;
}

.card-spinner{
    width: 300px;
    height: 300px;
}

.card-title{
    font-size: x-large;
    font-weight: 700;
}

.center{
    justify-content: center;
}

.card-chip{
    background-color: #ffffff40;
    color: whitesmoke;
}

.red{
    background: linear-gradient(#e95c4d,darken($color: #e95c4d, $amount: 15%));
}

.green{
    background: linear-gradient(#00ca91,darken($color: #00ca91, $amount: 15%));
} 

.yellow{
    background: linear-gradient(#BDBD00,darken($color: #BDBD00, $amount: 10%));
}

.blue{
    background: linear-gradient(#43ccff,darken($color: #43ccff, $amount: 25%));
}

.brown{
    background: linear-gradient(#A52A2A,darken($color: #A52A2A, $amount: 10%));
}

.white{
    background-color: #a5a5a5;
}

.pink{
    background: linear-gradient(#D87093,darken($color: #D87093, $amount: 15%));
}       

.black{
    background-color: rgba(0, 0, 0, 0.307);
}

.gray{
    background: linear-gradient(gray,darken($color: gray, $amount: 15%));
}

.purple{
    background: linear-gradient(#9b019b,darken($color: #9b019b, $amount: 10%));
}

.table{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.inline{
    display: inline-block;
}

.about, .statistics, .moves{
    padding: 25px 125px 0 125px;
}

.cgray{
    color: gray;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff5c;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.error{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .about, .statistics, .moves {
        padding: 25px 25px 0 25px;
    }

    .card-header{
        padding: 25px;
    }

    .card-img-info{
        width: 160px;
    }
  }

  .spaces{
    max-width: 900px;
  }

.poke-name{
    font-weight: 600;
    font-size: 80px;
    color: white;
    margin-bottom: 8px;
}

.stats{
    color: white;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
}

.m-0{
    margin: 0px;
}

.basic-info{
    display: flex;
    flex-direction: column;
}

.poke-type{
    color: darken(#FFFFFF, 10%);
}

.stats-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-1{
    flex: 1;
}

.flex-2{
    flex: 2;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.poke-number{
    color: rgb(255,255,255,0.3);
    font-size: 300px;
    right: 0px;
    top: -135px;
}

.h-245{
    height: 245px;
    overflow-x: scroll;
    margin-top: 20px;
}

.section-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.section-title{
    color: white;
    font-size: 40px;
    font-weight: 600;
}

.stats-text{
    margin: 15px 0;
}

.icon-pag{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    cursor: pointer;
    margin: 25px;
    color: rgb(255,255,255,0.5);
    z-index: 9;
}

::ng-deep .mat-chip-list-wrapper{
    margin: 0;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 16px;
    z-index: 9;
    position: relative;
    top: 15px;
}

.w-100{
    display: flex;
    width: 100%;
    justify-content: center;
}

.img-container{
    width: 300px;
    height: 300px;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-900px{
    width: 900px;
}

.poke-img{
    width: 100px;
    height: 100px;
    margin-right: 25px;
}

.basic-info-cont{
    display: flex;
    flex-direction: row;
}

.line-cont{
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 30px;
}

.line-c{
    width: 100%;
    display: flex;
    justify-content: center;
}

.line{
    width: 1px;
    height: 100px;
    border-right: solid 1px white;
    margin-top: 5px;
}

.img-logo{
    width: 50px;
    height: 50px;
}

.img-github{
    width: 100%;
    height: auto;
}

@media screen  and (max-width:920px){

    .main{
        height: auto;
    }

    .card-img-container{
        flex-direction: column-reverse;
        gap: 0;
        align-items: center;
        margin: 0px;
    }

    .card-header{
        padding: 0;
    }

    .card{
        margin: 0;
    }

    .w-900px{
        width: 100%;
        margin: 5px;
    }

    .card-header{
        margin: 0px;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .poke-number{
        width: 100%;
        font-size: 170px;
        top: -100px;
        text-align: center;
        position: initial;
        margin: 0;
        color: white;
    }

    .poke-img{
        display: none;
    }

    .icon-pag{
        position: fixed;
        bottom: 10px;
        color: rgba(255,255,255,0.7);
        margin: 10px;
        bottom: 50%;
        
        & .icon-arrow{
            font-size: 40px;
        }

        & .mat-icon{
            width: auto;
            height: auto;
        }
    }

    .flex-1{
        width: 100%;
    }

    .card-img-info, .card-spinner{
        width: 100%;
    }

    .stats{
        padding: 5px;
    }

    .section-container{
        flex-direction: column;
        gap: 0;
    }

    .section-content{
        width: 100%;
    }

    .h-245{
        height: auto;
        overflow-x:initial;
    }

    .line-cont{
        display: none;
    }

    .keyboard_arrow_right{
        right: 1px;
    }

    .keyboard_arrow_left{
        left: 1px;
    }

    .section-title{
        margin: 0;
    }

}