<div *ngIf="!(error$ | async); else error" class="main" [class]="color">  
    <div class="icon"
        (click)="onBack()">
        <mat-icon aria-hidden="false" aria-label="Back">arrow_back</mat-icon>
    </div>
    <div class="content">
        <div class="icon-pag">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </div>
        <div>
            <div class="card">
                <div class="card-header relative">
                    <p class="poke-number absolute">#{{pokemon?.id?.toString()?.padStart(3, '0')}}</p>
                    <div class="card-img-container">
                        <div class="flex-1">
                            <div class="basic-info">
                                <div>
                                    <span *ngFor="let type of pokemon?.types" class="poke-type">
                                        {{type.type | uppercase}}
                                    </span>
                                </div>
                                <p class="poke-name">{{pokemon?.name | titlecase}}</p>
                            </div>
                            <div class="stats">
                                <div class="stats-cont"><p class="m-0">Height</p> <p class="m-0">{{pokemon?.height}}</p></div>
                                <div class="stats-cont"><p class="m-0">Weight</p> <p class="m-0">{{pokemon?.weight}}</p></div>
                                <div class="stats-cont"><p class="m-0">Habitat</p> <p class="m-0">{{specie?.habitat?.name | titlecase}}</p></div>
                            </div>
                        </div>
                        <div class="flex-1">
                            <mat-spinner 
                                class="card-spinner"
                                *ngIf="(isLoading$ | async); else img"></mat-spinner>
                            <ng-template #img>
                                <img class="card-img-info" [src]="pokemon?.img">
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h-245">
                <div class="section-container">
                    <p class="section-title flex-1">Info</p>
                    <div class="section-content flex-2">
                        <div class="table">
                            <div class="stats">
                                <p class="stats-text">Habitat: {{specie?.habitat?.name | titlecase}}</p>
                                <p class="stats-text">Height: {{pokemon?.height}}</p>
                                <p class="stats-text">Weight: {{pokemon?.weight}}</p>
                                <p class="stats-text">Abilities: {{pokemon!.abilities[0]}}</p>
                            </div>
                            <!-- <div class="stats">
                                <p class="stats-text">{{specie?.habitat?.name | titlecase}}</p>
                                <p class="stats-text">{{pokemon?.height}}</p>
                                <p class="stats-text">{{pokemon?.weight}}</p>
                                <p class="stats-text">{{pokemon!.abilities[0]}}</p>
                            </div> -->
                            <div class="stats">
                                <p class="stats-text">Shape: {{specie?.shape?.name}}</p>
                                <p class="stats-text">Happiness: {{specie?.base_happiness}}</p>
                                <p class="stats-text">Capture Rate: {{specie?.capture_rate}}</p>
                                <p class="stats-text">Egg group: {{specie!.egg_groups[0].name}}</p>
                            </div>
                            <!-- <div class="stats">
                                <p class="stats-text">{{specie?.shape?.name}}</p>
                                <p class="stats-text">{{specie?.base_happiness}}</p>
                                <p class="stats-text">{{specie?.capture_rate}}</p>
                                <p class="stats-text">
                                    {{specie!.egg_groups[0].name}}
                                </p> 
                            </div> -->
                        </div>
                    </div>
                </div>
    
                <div class="section-container">
                    <p class="section-title flex-1">Stats</p>
                    <div class="section-content flex-2">
                        <app-statistics-bars 
                                *ngFor="let stat of pokemon?.stats" 
                                [statName]="stat.stat | titlecase" 
                                [statValue]="stat.valueStat"
                                [color]="color">
                        </app-statistics-bars>
                    </div>
                </div>
    
                <div class="section-container">
                    <p class="section-title flex-1">Moves</p>
                    <div class="section-content flex-2">
                        <mat-chip-list cdkDropListOrientation="horizontal">
                            <mat-chip *ngFor="let move of pokemon?.moves?.slice(0,10)">
                                {{move}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
            </div>
        </div>
        <div class="icon-pag">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
    </div>
    
</div>

<ng-template #error>
    <div class="error">
        <p>No se encontro ningún pokemon, porfavor intentelo de nuevo</p>
    </div>
</ng-template>