.main{
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
}
 .content{
   width: 800px;   
 }

.card{
    width: 100%;
    border-radius: 0 0 20px 0;
    margin-top: 50px;
}

.card-header{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}

.card-img-container{
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 3rem;
}

.card-title-group{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 15px;
    color: whitesmoke; 
}

.card-img-info{
    width: 350px;
}

.card-spinner{
    width: 15rem;
}

.card-title{
    font-size: x-large;
    font-weight: 700;
}

.center{
    justify-content: center;
}

.card-chip{
    background-color: #ffffff40;
    color: whitesmoke;
}

.red{
    background-color: #e95c4d;
}

.green{
    background-color: #00ca91;
} 

.yellow{
    background-color: rgb(189, 189, 0);
}

.blue{
    background-color: #43ccff;
}

.brown{
    background-color: rgba(165, 42, 42, 0.84);
}

.white{
    background-color: #a5a5a5;
}

.pink{
    background-color: palevioletred;
}       

.black{
    background-color: rgba(0, 0, 0, 0.307);
}

.gray{
    background-color: rgba(0, 0, 0, 0.103);
}

.purple{
    background-color: rgba(128, 0, 128, 0.432);
}

.table{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.inline{
    display: inline-block;
}

.about, .statistics, .moves{
    padding: 25px 125px 0 125px;
}

.cgray{
    color: gray;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff5c;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    top: 20px;
}

.error{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .about, .statistics, .moves {
        padding: 25px 25px 0 25px;
    }

    .card-header{
        padding: 25px;
    }

    .card-img-info{
        width: 160px;
    }
  }

  .spaces{
    max-width: 900px;
  }

.poke-name{
    font-weight: 600;
    font-size: 80px;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

.stats{
    color: white;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
}

.m-0{
    margin: 0px;
}

.basic-info{
    display: flex;
    flex-direction: column;
}

.poke-type{
    color: darken(#FFFFFF, 10%);
}

.stats-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-1{
    flex: 1;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.poke-number{
    font-size: 60px;
    color: white;
}