.container{
    width: 100%;
}

.list-container{
    //width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 44px;
}

.card{
    width: 400px;
    min-width: 150px;
    padding: 15px;
}

.paginado{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.fixed{
    position: fixed;
}

.prev{
    cursor: pointer;
    left: 15px;
    bottom: calc(50% - 60px);
}

.next{
    cursor: pointer;
    right: 15px;
    bottom: calc(50% - 60px);
}