<app-header></app-header>
<div class="main-logo">
    <div class="img-list">
        <img class="img" src="assets/pokemon-list.jpg" alt="hi">
    </div>
    <div class="poke-logo">
        <div class="logo">
            <img class="img" src="assets/pokemon-logo.png" alt="logo">
            <div class="searcher">
                <app-input-search></app-input-search>
            </div>
        </div>
    </div>
</div>
<div class="container relative">
    <mat-icon 
        class="fixed prev"
        (click)="onPrev()"
    >keyboard_arrow_left</mat-icon>
    <div class="list-container">
        <app-card  
            class="card"
            *ngFor="let pokemon of pokemons"
            [imgUrl] = "pokemon.img" 
            [name] = "pokemon.name" 
            [id] = "pokemon.id"                    
        >
            {{pokemon.name}}
        </app-card>  
    </div>
    <mat-icon 
        (click)="onNext()"
        class="fixed next"
    >keyboard_arrow_right</mat-icon>
</div>
