<app-input-search></app-input-search>
<div class="container">
    <div class="list-container">
        <app-card  
            class="card"
            *ngFor="let pokemon of pokemons"
            [imgUrl] = "pokemon.img" 
            [name] = "pokemon.name" 
            [id] = "pokemon.id"                    
        >
            {{pokemon.name}}
        </app-card>  
    </div>
</div>
<div class="paginado">
    <button 
        mat-raised-button 
        color="primary"
        (click)="onPrev()">Prev</button>
    <button 
        mat-raised-button 
        color="primary"
        (click)="onNext()">Next</button>
</div>