<div class="container">
    <div class="icon">
        <a 
            [routerLink]="['pokemons']"><mat-icon>arrow_back</mat-icon></a>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-image">
                <img src="https://avatars.githubusercontent.com/u/67520997?v=4" alt="profile-image">
            </div>
            <div class="card-info">
                <p class="title">Erick Cruz Padilla</p>
                <p class="subtitle">ErickDoev</p>
                <p>~ Soy desarrollador web apasionado por el frontend. Me enfoco en resolver problemas y en seguir aprendiendo nuevas cosas. ⚛️ React 🧑 Angular ~</p>
                <p> erick.doev@gmail.com</p>
                <p> (246) 176 10 82</p>
            </div>
        </div>
    </div>
</div>