<div class="main">
    <div class="diago">
    </div>
    <div class="text">
        <div class="header">
            <p class="poke-text" (click)="redirect('pokemons')">Pokedex</p>
            <p class="proto-text">Prototype</p>
            <span class="version-text">v. 1.1</span>
        </div>
        <div class="body">
            <p>{{'{ }'}} Based on PokeAPI</p>
        </div>
        <div class="footer">
            <a href="https://github.com/ErickDoev/" target="_blank">
                <span>by Erick Cruz</span>
            </a>
        </div>
    </div>
</div>