img{
    object-fit: contain;
    width: 250px;
    height: 250px;
}

p{
    text-align: center;
    margin: 0;
}

.card-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text{
    display: flex;
    justify-content: center;
}

.text{
    color: black;
    font-weight: 700;
}

.card{
    box-shadow: none;
}

.pointer{
    cursor: pointer;
}
